# MacOS files
.DS_Store

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# VS Code folder
.vscode